<header>
    <!-- Navigation (same as other pages) -->
    <nav>
        <div class="logo">
            <a href="/"><img src="images/logo.svg" alt="CampusShop Logo"></a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/shop" class="active">Shop</a>
            <a href="/categories">Categories</a>
            <a href="/login">Login</a>
        </div>
        <div class="nav-actions">
            <a href="/cart" class="cart-icon"><img src="images/cart.svg" alt="Cart"></a>
            <a href="/account" class="account-icon"><img src="images/account.svg" alt="Account"></a>
        </div>
    </nav>
<link rel="stylesheet" href="../main.css">
</header>