<button 
  class="btn btn-tertiary" 
  id="add-to-watchlist" 
  data-watchlist="<%= isWatchlisted %>" 
  value="<%= item.itemID %>">
  <%= isWatchlisted ? "â¤ Add to Watchlist" : "Add to Watchlist" %>
</button>