<form action="/" method="POST">
    <label for="avatar">Choose a profile picture:</label>

    <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
    <input type="submit" value="Submit">

    <script>
        function handleImageUpload(e) {
        e.preventDefault()

        if (e.target) {
            const formData = new FormData(e.target)

            async function upload_img_to_database() {
            await fetch( URL + '/process-img', {
                method: 'POST',
                body: formData
            })
            .then (res => {
                if (res.ok) {
                res.json().then(data => console.log(data))
                } else {
                console.log(res)
                alert('Error processing image.')
                }
            })
            .catch (error => {
                console.error('Error:', error)
                alert('An error ocurred while processing the image')
            })
            }
            upload_image_to_database()
        }
        }
    </script>
</form>