<!DOCTYPE html>
<html lang="en">
<%- include('./partials/navbar') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Account | CampusShop</title>

</head>
<body>
    
    
    <main class="account-page">
        <div class="page-header">
            <h1>Account Info</h1>

        </div>
        
        <div class="account-container">
            <%- include('./partials/account-aside') %>
            
            <div class="account-content">
         

                
                <!-- Orders Section -->
                <section class="account-section" id="orders">
                    <h2>Selling</h2>
                    
                
                </section>
                

            </div>
        </div>
    </main>
    

    <style>
        
    </style>
   
    <link rel="stylesheet" href="../styles/account.css">
</body>
</html>